{% load static %}

{% load custom_tags %}



{% if products.has_previous %}

            <button class="page-btn prev" value="{{ products.previous_page_number }}"><i class="fas fa-chevron-left"></i></button>
            
            <button class="page-btn prev" value="{{ products.previous_page_number }}"> {{ products.previous_page_number }} </button>


            {% endif %} 

            <button class="page-btn active">{{ products.number }}</button>
            <br>


            {% if products.has_next %}
            <button class="page-btn next" value="{{ products.next_page_number }}">{{ products.next_page_number }}</button>
            
            <button class="page-btn next" value="{{ products.next_page_number }}"><i class="fas fa-chevron-right"></i></button>

            {% endif %}