 {% load static %}

{% load custom_tags %}
 
 
 
 {% for product in products %}

 <a href="{% url 'shop:productDetail' slug=product.slug %}">

                <!-- Product 1 -->
                <div class="product-card">
                    <div class="product-img-container">

                        {% for image in product.images.all|slice:":1" %}

                        <img src="{{ image.image.url }}" alt="Ultra Boost Running Shoes" class="product-img">
                         <!-- <div class="product-badge">Sale</div> -->

                         {% endfor %}


                    </div>
                    <div class="product-info">
                        <div class="product-brand">{{ product.brand }}</div>
                        <h3 class="product-title">{{ product.name }}</h3>
                        <div class="product-price">
                            <span class="current-price">${{ product.price }} </span>
                            <!-- <span class="original-price">$179.99</span> -->
                        </div>
                        <div class="product-rating">
                           
                            <div class="rating-stars">

                                {% for _ in product.rating|times %}


                                <i class="fas fa-star"></i>

                                {% endfor %}

                                {% for _ in product.rating|rating|times %}


                                <i class="far fa-star"></i>

                                {% endfor %}


                                
                               
                            </div>
                            <!-- <span class="rating-count">(142)</span> -->
                        </div>
                        <button class="btn" style="width: 100%;">Add to Cart</button>
                    </div>
                </div>

                </a>
                

                   {% endfor %}