

{% extends 'base.html' %}
{% load static %}


{% block title %} About us page {% endblock %}

{% block description %}  {% endblock %}

{% block title1 %} About us page{% endblock %}

{% block description1 %}  {% endblock %}

{% block title2 %} About us page {% endblock %}
{% block description2 %}  {% endblock %}









{% block body %}

 <div class="about">



            <div class="about-headings">

                 <h2>About Botpulse Technosol</h2>

                 <p>Cutting-edge startup based in Bengaluru, revolutionizing industries with drone technology</p>
                 <p>solutions.</p>


            </div>
             
            <div class="about-intro">

                
                <div class="about-content">
                      

                 <h4>At Botpulse Technosol Pvt. Ltd., we are at the forefront of drone technology innovation. Our team of experts is dedicated to pushing the boundaries of what's possible with unmanned aerial systems.

Founded with a vision to transform traditional industries through automation and aerial intelligence, we combine advanced engineering with practical applications to deliver real-world solutions.

Our Bengaluru-based R&D center serves as the hub for developing next-generation drone technologies that are reliable, efficient, and tailored to our clients' specific needs</h4>


                </div>

                <div  >
             
                
                 <img src="{% static 'images/about-img.avif' %}" alt="" class="about-img">



                </div>


            </div>


        </div>






{% endblock %}