

{% extends 'base.html' %}
{% load static %}


{% block title %} Contact us page {% endblock %}

{% block description %}  {% endblock %}

{% block title1 %} Contact us page{% endblock %}

{% block description1 %}  {% endblock %}

{% block title2 %} Contact us page {% endblock %}
{% block description2 %}  {% endblock %}









{% block body %}





<div class="contact">

   

    <div class="contact-intro">


        <h2>Get In Touch</h2>
        <p>Contact us to discuss how our drone solutions can benefit you</p>
    </div>

    <div class="contacts-form">

       <!-- <form action="<?php  echo htmlspecialchars($_SERVER["PHP_SELF"]); ?>" class="contact-form" method="POST"> -->
         <form class="contact-form" method="POST">

            {% csrf_token %}

           <p>Name</p>
           <input type="text" name="name" class="contact-input" value="{{ form.name.value|default_if_none:'' }}"><br>


                   
           {% if form.name.errors %}

           {% for error in form.name.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
            

           <br>

           {% endif %}



           <p>Email</p>
           <input type="email" name="email" class="contact-input" {{ form.email.value|default_if_none:'' }}><br>






             
           {% if form.email.errors %}

           {% for error in form.email.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
            

           <br>

           {% endif %}






           <p>Contact No</p>
           <input type="text" name="number" class="contact-input" {{ form.number.value|default_if_none:'' }}><br>

                
           
           {% if form.number.errors %}

           {% for error in form.number.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
            

           <br>

           {% endif %}




           <p>Message</p>
           <textarea name="mes" id="" class="textarea-input">{{ form.mes.value|default_if_none:'' }}</textarea><br>

               
           
           {% if form.mes.errors %}

           {% for error in form.mes.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
            

           <br>

           {% endif %}





                
           {% if form.non_field_errors %}

           
               {% for error in form.non_field_errors %}

                <p style="color: red;">{{ error }}. </p>
    
                {% endfor %}
              
           
           <br>



           {% endif %}


           <button type="submit" name="submit" class="contact-submit"> Submit</button>




       </form>

    </div>



</div>






{% endblock %}