
{% extends 'base.html' %}
{% load static %}


{% block title %} {{ service.name }} {% endblock %}

{% block description %} {{ service.description }} {% endblock %}

{% block title1 %} {{ service.name }} {% endblock %}

{% block description1 %} {{ service.description }} {% endblock %}

{% block title2 %} {{ service.name }} {% endblock %}
{% block description2 %} {{ service.description }} {% endblock %}




{% block body %}




<div class="products-banner">

    <div class="pBanner-imgs">

        <img src="{% static 'images/PP-banner.jpg' %}" alt="" class="pBanner-img">


    </div>

    <div class="PB-headings">

        <h1>{{ service.name }}</h1>

    </div>


</div>





<div class="page-content">


    <div class="page-heading">

        <!-- <h1>Agriculture Drone Service</h1> -->




    </div>

    <div class="page-matter">

        <img src="{{ service.image.url }}" alt=""  class="S-img">

       

        <div class="con">
{{ service.description|safe }}

        </div>
            
       



    </div>



</div>







      


<div class="contact">

   

    <div class="contact-intro">


        <h2>If You Want Our Service Fill The Form Below</h2><br>
        <p>Contact us to discuss how our drone solutions can benefit your business</p>
    </div>

    <div class="contacts-form">

       <form class="contact-form" method="POST">

        {% csrf_token %}

           <p>Name</p>
           <input type="text" name="name" class="contact-input" value="{{ form.name.value|default_if_none:'' }}"><br>

           {% if form.name.errors %}

           {% for error in form.name.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
            

           <br>

           {% endif %}

           <p>Email</p>
           <input type="email" name="email" class="contact-input" value="{{ form.email.value|default_if_none:'' }}"><br>

         
           {% if form.email.errors %}

           {% for error in form.email.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
             

           <br>

           {% endif %}

           <p>Mobile</p>
           <input type="text" name="number" class="contact-input" value="{{ form.number.value|default_if_none:'' }}"><br>

           
           {% if form.number.errors %}

           {% for error in form.number.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
             

           <br>

           {% endif %}

           <p>Message</p>
           <textarea name="mes" id="" class="textarea-input"> {{ form.mes.value|default_if_none:'' }} </textarea><br>
           <input type="text" name="service" value="{{ service.name }}" style="display: none;">


           
           {% if form.mes.errors %}

           {% for error in form.mes.errors %}

              <p style="color: red;">{{ error }}. </p>
    
              {% endfor %}
    
             

           <br>

           {% endif %}



           {% if form.non_field_errors %}

           <br>
            
               {% for error in form.non_field_errors %}

                <p style="color: red;">{{ error }}. </p>
    
                {% endfor %}
              
           
           <br>



           {% endif %}

           <button type="submit" name="submit" class="contact-submit"> Submit</button>




       </form>

    </div>



</div> 











{% endblock %}


